# Arquivos de byte compilados do Python
__pycache__/

# Arquivos de ambiente
.env
.env/ 
env/
ENV
env.back/
venv.back
Jenkinsfile
# Diretório de ambiente virtual
venv/
.venv
limpar_pycache

#Certificados
.crt
.key
